* {
    box-sizing: border-box;
}
  
body{
    margin: 0;
    padding: 0;
    background-color: rgb(197, 189, 250);
    font-family: Arial, Times, sans-serif;
}

section {
    position: relative;
    padding: 15px;
    width: 100%;
}
  
h1 {
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
    color: #100830;
    font-size: 175%;
}
  
section {
    position: relative;
    padding: 15px;
    width: 100%;
}

p {
    position: relative;
    clear: right;
}

div {
    position: relative;
    background-color: rgb(124, 88, 182);
    border: 1px solid black;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}
  
  
.content-name{
    float: right;
    overflow: none;
    text-align: center;
    border: 1px solid black;
    width: 100px;
    margin: 0px;
    height: auto;
    padding: 5px;
    float: right;
    font-weight: bold;
    position: relative;
    font-size: 125%;
    font-weight: bold;
}
  
.content {
    padding: 15px;
    padding-bottom: 30px;
    border: none;
    background-color: rgb(124, 88, 182);
    color: black;
    margin: 0px;
    height: auto;
    overflow: auto;
}
  
.name1{
    background-color: #db6375;
}
  
.name2{
    background-color: #3baa67;
}
.name3{
    background-color: #FFFF00;
}

/*desktop*/
@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        width: 33.33%;
    }
}
  
  
/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6,.col-md-12 {
      float: left;
      margin-left: auto;
      margin-right: auto;
    }
    .col-md-6 {
        width: 50%;
    }
    .col-md-12 {
        width: 100%;
        
    }
    .name3{
      margin-right: 0px;
      width: 100px;
    }
  }

/*phone*/
@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }
}
